/*DEFINITIONS*/
main .box-home,
main .box-skills,
main .box-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .box-home img {
	width: 62%;
    max-width: 30rem;
	border-radius: 50%;
}

main .box-home h1 {
    max-width: 43rem;
    margin: 0;
    margin-top: 2rem;
}

main .box-about-me .box-about-me-container {
	width: 100%;
    max-width: 90rem;
	margin: 0 auto;
}

main .box-about-me .box-about-me-container p {
    color: var(--color-legend);
}

.box-skills .box-skills-container {
	width: 100%;
    max-width: 55rem;
	margin: 0 auto;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2.5rem;
	align-content: center;
	justify-items: center;
}

.box-skills .box-skills-container img {
	width: clamp(10rem, 30vw, 15rem);
	height: clamp(10rem, 30vw, 15rem);
    border-radius: 1rem;
}

main .box-contacts .box-contacts-container {
	width: 100%;
    max-width: 60rem;
	padding: clamp(2rem, 5vw, 4rem);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

main .box-contacts .box-contacts-container a {
	width: clamp(6rem, 20%, 8rem);
}

main .box-contacts .box-contacts-container img {
	width: 100%;
    border-radius: 1rem;

}

@media (min-width: 600px) {
    .box-skills .box-skills-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 800px) {
    .box-skills .box-skills-container {
        grid-template-columns: repeat(4, 1fr);
        max-width: 75rem;
    }
}

@media (min-width: 1000px) {
    .box-skills .box-skills-container {
        grid-template-columns: repeat(5, 1fr);
        max-width: 90rem;
    }
}

@media (min-width: 820px) {
    main .box-home h1 {
        max-width: 80rem;
    }
}

@media (max-height: 680px) {
    main .box-home h1 {
        font-size: 3rem !important;
    }
}