.portfolio-project {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    flex-grow: 1;
    transition: all 0.2s;
}

.portfolio-project::before {
    content: "";
    background: linear-gradient(to top, rgba(0, 0, 0, 0.96), rgba(0, 0, 0, 0.4));
    width: 100%;
    height: 100%;
    position: absolute;
}

.portfolio-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-access {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px;
}

.portfolio-project .link-access {
    display: inline-block;
    width: 30px;
    height: 30px;
    z-index: 20;

    transition: all 0.2s;
}

.portfolio-project .link-access:hover {
    transform: scale(1.2);
}

.portfolio-project .link-access img {
    width: 100%;
    height: 100%;
}

.portfolio-project .project-description {
    width: 100%;
    z-index: 10;
    position: absolute;
    bottom: 0;
    padding: 25px;
}

.portfolio-project .project-description .project-title {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 500;
    display: block;
    margin-bottom: 1rem;
}

.portfolio-project .project-description .content-badge {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.portfolio-project .project-description .badge {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-project .project-description .badge img {
    width: 30px;
    height: 30px;
}