.blog {
  width: 100%;
}

.blog h1 {
  font-size: 2rem;
  margin: 32px 0;
}

.blog-posts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;
  gap: 32px;
}

@media (max-width: 768px) {
  .blog-posts {
    padding: 0 64px;
  }
}

@media (max-width: 480px) {
  .blog-posts {
    padding: initial;
  }
}
