.blog {
  width: 100%;
}

.blog h1 {
  font-size: 1.6rem;
  margin: 32px 0;
  text-transform: uppercase;
  font-weight: 500;
  color: #1e1d39;
}

.blog-posts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;
  gap: 32px;
}

@media (max-width: 768px) {
  .blog-posts {
    padding: 0 64px;
  }
}

@media (max-width: 480px) {
  .blog-posts {
    padding: initial;
  }

  .blog h1 {
    text-align: center;
  }
}
