.skills .right h2 {
    text-align: right;
    color: #0085FF;
}

.skills .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.skills .grid img {
    width: 150px;
    width: 150px;
    filter: grayscale(100%);
    opacity: 0.7;

    transition: all;
    transition-duration: 0.2s;
}

.skills .grid img:hover {
    filter: none;
    opacity: 1;
}

@media(max-width: 1100px) {
    .skills .right {
        order: -1;
    }
}

@media(max-width: 800px) {
    .skills .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .skills .grid img {
        width: 100px;
        width: 100px;
    }
}

@media(max-width: 450px) {
    .skills .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .skills .grid img {
        width: 80px;
        width: 80px;
    }
}