.intro {
  width: 100%;
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-container {
  width: 29rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.intro-title {
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 1;
}

.intro-title span {
  display: block;
  letter-spacing: 0.175rem;
}

.intro-list-link {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 12px;
}

.intro-list-link img {
  width: 1.5rem;
  height: 1.5rem;
}

.intro-text {
  font-weight: normal;
}

@media (max-width: 768px) {
  .intro-container {
    width: 22.7rem;
  }

  .intro-title {
    font-size: 4rem;
  }

  .intro-title span {
    letter-spacing: 0.09rem;
  }

  .intro-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .intro-container {
    width: 17rem;
  }

  .intro-title {
    font-size: 3rem;
  }

  .intro-title span {
    letter-spacing: 0.07rem;
  }

  .intro-text {
    font-size: 0.6rem;
  }
}
