.initial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.initial .intro-container {
    margin-top: -120px;
    display: flex;
    flex-direction: column;
}

.intro-container .full-name {
    display: inline-block;
    width: 100%;
    text-align: left;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 20px;
}

.intro-container h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 120px;
    line-height: 130px;
}

.intro-container .details {
    display: inline-block;
    width: 100%;
    text-align: right;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 20px;
}

.intro-container .aux {
    display: flex;
    gap: 20px;
}

.intro-container .links {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-container .links img {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 768px) {
    .intro-container .full-name {
        font-size: 14px;
    }
    .intro-container h1 {
        font-size: 80px;
        line-height: 85px;
    }
    .intro-container .details {
        font-size: 14px;
    }
    .intro-container .links {
        margin: 15px 0;
    }
    .intro-container .links img {
        width: 28px;
        height: 28px;
    }
}

@media screen and (max-width: 576px) {
    .intro-container h1 {
        font-size: 60px;
        line-height: 65px;
    }
    .intro-container .aux {
        flex-direction: column;
        gap: 0;
    }
    .intro-container .links {
        flex-direction: row;
        justify-content: right;
        gap: 10px;
    }
}

