.article,
.article-image,
.article figure,
.article-content,
.article-video,
.article-video-container {
  width: 100%;
}

.article h1 {
  font-size: 2rem;
  margin: 32px 0;
}

.article-body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.article-image,
.article figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.article-image img,
.article figure img {
  width: 100%;
  max-width: 500px;
}

.article-image span,
.article figure figcaption,
.article-video span {
  display: inline-block;
  color: #0085ff;
  font-size: 1rem;
  font-weight: 500;
}

.article-image span::before,
.article figure figcaption::before {
  content: "Figure: ";
}

.article-content p {
  text-align: justify;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 300;
}

.article-content a {
  color: #0085ff;
}

.article-content p + p,
.article-content figure {
  margin-top: 32px;
}

.article-video-container {
  position: relative;
  padding-bottom: 56.25%; /* (16:9) */
}

.article-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.article-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-date {
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
}

.article-author {
  font-size: 1.1rem;
  font-weight: 500;
  color: #0085ff;
}
