.header {
    width: 100%;
    padding: 30px;
    background-color: #ffffff1a;
}

.header .menu {
    width: clamp(300px, 100%, 500px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header .menu .item {
    display: inline-block;
    width: 90px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px 0;
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;

    transition: all;
    transition: 0.2s;
}

.header .menu .item:hover {
    border-bottom: 2px solid #0085FF;
    color: #0085FF;
}

.header .menu .active {
    border-bottom: 2px solid #0085FF;
    color: #0085FF;
}

@media(max-width: 500px) {
    .header .menu .item {
        font-size: 1.1rem;
        width: 75px;
    }
}