.footer {
  width: 100%;
  padding: 32px;
  background-color: #121126;
}

.footer .container {
  display: flex;
  flex-direction: row-reverse;
  justify-items: center;
  align-items: center;
  gap: 32px;
}

.footer-list {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}

.footer-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-list li {
  padding-left: 12px;
  position: relative;
}

.footer-list a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  font-size: 1rem;
  transition: all 0.2s;
  padding-left: 12px;
  border-left: 2px solid #0085ff;
}

.footer-list a:hover {
  color: #0085ff;
  border-left: 2px solid #ffffff;
}

.footer p {
  flex: 1;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 300;
}

.footer p strong {
  font-weight: 500;
  color: #0085ff;
}

@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
    align-items: stretch;
  }

  .footer-list {
    justify-items: center;
  }

  .footer p {
    text-align: center;
  }
}
