.footer {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff1a;
}

.footer .lists {
    width: clamp(260px, 100%, 450px);
    display: flex;
    justify-content: space-between;
}

.footer .lists ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .lists ul li a {
    text-decoration: none;
    color: #FFFFFF;
    border-left: 2px solid #0085FF;
    font-weight: 300;
    font-size: 1.5rem;
    padding-left: 10px;
    transition: all 0.2s;
}

.footer .lists ul li a:hover {
    color: #0085FF;
    border-left: 2px solid #FFFFFF;
}

.footer span {
    margin-top: 30px;
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 300;
}

.footer span strong {
    color: #0085FF;
}