.not-found {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.not-found h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
}

.not-found h1 span {
  color: #0085ff;
  font-weight: 500;
}

.not-found .back {
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 24px;
  background-color: #121126;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .not-found h1 {
    font-size: 3rem;
  }
}

#not-found-message {
  animation: cursor-hightlight 0.5s infinite;
}

@keyframes cursor-hightlight {
  to {
    border-right: 2px solid white;
  }
  from {
    border-right: 2px solid transparent;
  }
}

#not-found-message::before {
  content: "";
  animation: text-not-found 7s infinite;
  transition-property: all;
  transition-duration: 0.2s;
}

@keyframes text-not-found {
  10% {
    content: "";
  }
  20% {
    content: "N";
  }
  30% {
    content: "No";
  }
  40% {
    content: "Not";
  }
  50% {
    content: "Not F";
  }
  60% {
    content: "Not Fo";
  }
  70% {
    content: "Not Fou";
  }
  80% {
    content: "Not Foun";
  }
  100% {
    content: "Not Found";
  }
}
